/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    background-color: black;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.card-container {
    display: grid;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0 0 0 8px;
}

.addButton {
    background-color: black;
    display: grid;
    height: 100%;
    grid-row: 2 / 3;
    align-items: center;
    padding: 0 0 0 12px;
}

.container button {
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    padding: 6px;
    border-radius: 48px;
    height: 48px;
    width: 128px;
}

.card {
    background-color: white;
    border-left: 1rem solid #b2b1cf;
    height: 300px;
    width: 250px;
    padding: 8px 4px 0 8px;
    margin: 12px 0 0 0;
    border-radius: 8px;
    font-family: 'Comfortaa', cursive;
    display: grid;

}

.card h1 {

}